## DSC550-T302

## Lincoln Brown

## Wk3 Assignment

## Professor Werner

In [2]:
# Import libraries
import pandas as pd
import numpy as np
from textblob import TextBlob
from textblob.classifiers import NaiveBayesClassifier
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

## Part 1: Using the TextBlob Sentiment Analyzer

## Step 1: Import the Data

In [3]:
# Import the data
f_name = "labeledTrainData.tsv"

df = pd.read_csv(f_name, delimiter='\t')

print(f"There are {df.shape[0]} rows and {df.shape[1]} columns")

There are 25000 rows and 3 columns

## Step 1 (Cont): Make sure it is loaded properly

In [4]:
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

## Step 2: How many of each positive and negative reviews are there?

In [5]:
sentiments = df.groupby('sentiment').count()
sentiments

              id  review
sentiment
0          12500   12500
1          12500   12500

There are 12,500 negative and 12,500 positive reviews

## Step 3: Use TextBlob to Classify
Use TextBlob to classify each movie review as positive or negative. Assume that a polarity score greater than or equal to zero is a positive sentiment and less than 0 is a negative sentiment

In [6]:
df_sentiments = df.copy()
df_sentiments['textblob'] = df_sentiments['review'].apply(lambda x: TextBlob(x).sentiment)

In [7]:
df_sentiments

,id,sentiment,review,textblob
0,5814_8,1,With all this stuff going down at the moment w...,"(0.001276742581090417, 0.6067460317460317)"
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","(0.2563492063492064, 0.5311111111111111)"
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"(-0.05394123606889564, 0.5629331306990881)"
3,3630_4,0,It must be assumed that those who praised this...,"(0.1347530864197531, 0.4929012345679012)"
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"(-0.024841720779220786, 0.45981782106782115)"
...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"(0.10208333333333333, 0.5428571428571428)"
24996,5064_1,0,I don't believe they made this film. Completel...,"(0.09081262939958591, 0.4623706004140787)"
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","(0.14525641025641026, 0.48410256410256414)"
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"(0.065625, 0.5045138888888889)"
24999,8478_8,1,I saw this movie as a child and it broke my he...,"(0.2392948717948718, 0.7358974358974358)"

## Create a test score to check function

In [8]:
test = df_sentiments.loc[0,'textblob']
test.polarity

0.001276742581090417

## Create a function to assign a polarity score from TextBlob polarity

In [9]:
def assign_score(sentiment):
    if sentiment.polarity < 0:
        return 0
    else:
        return 1

In [10]:
# Verify function works
test_score = assign_score(test)
test_score

1

## Assign a TextBlob Score based on polarity

In [11]:
df_sentiments['textblob_score'] = df_sentiments['textblob'].apply(lambda x: assign_score(x))
df_sentiments

,id,sentiment,review,textblob,textblob_score
0,5814_8,1,With all this stuff going down at the moment w...,"(0.001276742581090417, 0.6067460317460317)",1
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","(0.2563492063492064, 0.5311111111111111)",1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"(-0.05394123606889564, 0.5629331306990881)",0
3,3630_4,0,It must be assumed that those who praised this...,"(0.1347530864197531, 0.4929012345679012)",1
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"(-0.024841720779220786, 0.45981782106782115)",0
...,...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"(0.10208333333333333, 0.5428571428571428)",1
24996,5064_1,0,I don't believe they made this film. Completel...,"(0.09081262939958591, 0.4623706004140787)",1
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","(0.14525641025641026, 0.48410256410256414)",1
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"(0.065625, 0.5045138888888889)",1
24999,8478_8,1,I saw this movie as a child and it broke my he...,"(0.2392948717948718, 0.7358974358974358)",1

## Step 3: Check the Accuracy of this Model

Is this model better than random guessing?

In [12]:
df_sentiments['Error'] = df_sentiments['textblob_score'] != df_sentiments['sentiment']
df_sentiments['Error'] = df_sentiments['Error'].astype(int)

In [13]:
errors = df_sentiments.loc[df_sentiments['Error'] == 1]
error_rate = len(errors) / len(df_sentiments)
accuracy_score = (len(df_sentiments) - len(errors)) / len(df_sentiments)
print(f"The TextBlog achieved an accuracy score of {accuracy_score:.2%} with an error rate of: {error_rate:.2%}")

The TextBlog achieved an accuracy score of 68.52% with an error rate of: 31.48%

## Random Guessing

Let's create a model to randomly guess and compare the results

In [14]:
# Create a column of pseudo-random 1s and 0s
df_sentiments['RandomGuess'] = np.random.randint(0,2, df_sentiments.shape[0])
df_sentiments['RandomGuess'].value_counts()

RandomGuess
0    12510
1    12490
Name: count, dtype: int64

In [15]:
df_sentiments['RandomError'] = df_sentiments['RandomGuess'] != df_sentiments['sentiment']
df_sentiments['RandomError'] = df_sentiments['RandomError'].astype(int)

In [16]:
rand_errors = df_sentiments.loc[df_sentiments['RandomError'] == 1]
rand_error_rate = len(rand_errors) / len(df_sentiments)
rand_accuracy_score = (len(df_sentiments) - len(rand_errors)) / len(df_sentiments)
print(f"Random guessing achieved an accuracy score of {rand_accuracy_score:.2%} with an error rate of: {rand_error_rate:.2%}")

Random guessing achieved an accuracy score of 49.87% with an error rate of: 50.13%

## TextBlog Analysis

Given the accuracy rating of 68.52%, I would say that TextBlog did not perform well. It performed better than random guessing, but it is below 75% and there is definitely room for improvement.

## Extra Credit: Vader Sentiment Analysis

In [17]:
# Create a SentimentIntensityAnalyzerb
si_analyzer = SentimentIntensityAnalyzer()
vader_test_review = df_sentiments.loc[0,'review']
vader_polarity = si_analyzer.polarity_scores(vader_test_review)
vader_polarity['compound']

-0.8879

In [18]:
# Create assign_vader_score function
def assign_vader_score(vader_polarity):
    if vader_polarity['compound'] < 0.00:
        return 0
    else:
        return 1

In [19]:
# Test assign_vader_score function
test_vader_score = assign_vader_score(vader_polarity)
test_vader_score

0

In [20]:
# Assign vader polarity
df_sentiments['vader_polarity'] = df_sentiments['review'].apply(lambda x: si_analyzer.polarity_scores(x))
df_sentiments

,id,sentiment,review,textblob,textblob_score,Error,RandomGuess,RandomError,vader_polarity
0,5814_8,1,With all this stuff going down at the moment w...,"(0.001276742581090417, 0.6067460317460317)",1,0,1,0,"{'neg': 0.128, 'neu': 0.751, 'pos': 0.121, 'co..."
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","(0.2563492063492064, 0.5311111111111111)",1,0,1,0,"{'neg': 0.08, 'neu': 0.713, 'pos': 0.207, 'com..."
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"(-0.05394123606889564, 0.5629331306990881)",0,0,0,0,"{'neg': 0.135, 'neu': 0.809, 'pos': 0.055, 'co..."
3,3630_4,0,It must be assumed that those who praised this...,"(0.1347530864197531, 0.4929012345679012)",1,1,1,1,"{'neg': 0.062, 'neu': 0.884, 'pos': 0.054, 'co..."
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"(-0.024841720779220786, 0.45981782106782115)",0,1,0,1,"{'neg': 0.122, 'neu': 0.743, 'pos': 0.135, 'co..."
...,...,...,...,...,...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"(0.10208333333333333, 0.5428571428571428)",1,1,0,0,"{'neg': 0.026, 'neu': 0.825, 'pos': 0.149, 'co..."
24996,5064_1,0,I don't believe they made this film. Completel...,"(0.09081262939958591, 0.4623706004140787)",1,1,0,0,"{'neg': 0.082, 'neu': 0.68, 'pos': 0.238, 'com..."
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","(0.14525641025641026, 0.48410256410256414)",1,1,0,0,"{'neg': 0.053, 'neu': 0.8, 'pos': 0.147, 'comp..."
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"(0.065625, 0.5045138888888889)",1,1,1,1,"{'neg': 0.154, 'neu': 0.753, 'pos': 0.093, 'co..."
24999,8478_8,1,I saw this movie as a child and it broke my he...,"(0.2392948717948718, 0.7358974358974358)",1,0,1,0,"{'neg': 0.143, 'neu': 0.729, 'pos': 0.128, 'co..."

In [21]:
# Assign sentiment score for vader polarity
df_sentiments['vader_score'] = df_sentiments['vader_polarity'].apply(lambda x: assign_vader_score(x))
df_sentiments

,id,sentiment,review,textblob,textblob_score,Error,RandomGuess,RandomError,vader_polarity,vader_score
0,5814_8,1,With all this stuff going down at the moment w...,"(0.001276742581090417, 0.6067460317460317)",1,0,1,0,"{'neg': 0.128, 'neu': 0.751, 'pos': 0.121, 'co...",0
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","(0.2563492063492064, 0.5311111111111111)",1,0,1,0,"{'neg': 0.08, 'neu': 0.713, 'pos': 0.207, 'com...",1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"(-0.05394123606889564, 0.5629331306990881)",0,0,0,0,"{'neg': 0.135, 'neu': 0.809, 'pos': 0.055, 'co...",0
3,3630_4,0,It must be assumed that those who praised this...,"(0.1347530864197531, 0.4929012345679012)",1,1,1,1,"{'neg': 0.062, 'neu': 0.884, 'pos': 0.054, 'co...",0
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"(-0.024841720779220786, 0.45981782106782115)",0,1,0,1,"{'neg': 0.122, 'neu': 0.743, 'pos': 0.135, 'co...",1
...,...,...,...,...,...,...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"(0.10208333333333333, 0.5428571428571428)",1,1,0,0,"{'neg': 0.026, 'neu': 0.825, 'pos': 0.149, 'co...",1
24996,5064_1,0,I don't believe they made this film. Completel...,"(0.09081262939958591, 0.4623706004140787)",1,1,0,0,"{'neg': 0.082, 'neu': 0.68, 'pos': 0.238, 'com...",1
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","(0.14525641025641026, 0.48410256410256414)",1,1,0,0,"{'neg': 0.053, 'neu': 0.8, 'pos': 0.147, 'comp...",1
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"(0.065625, 0.5045138888888889)",1,1,1,1,"{'neg': 0.154, 'neu': 0.753, 'pos': 0.093, 'co...",0
24999,8478_8,1,I saw this movie as a child and it broke my he...,"(0.2392948717948718, 0.7358974358974358)",1,0,1,0,"{'neg': 0.143, 'neu': 0.729, 'pos': 0.128, 'co...",1

## Vader Score Accuracy
Let's check the accuracy of VADER

In [22]:
df_sentiments['Vader_Error'] = df_sentiments['vader_score'] != df_sentiments['sentiment']
df_sentiments['Vader_Error'] = df_sentiments['Vader_Error'].astype(int)

In [23]:
vader_errors = df_sentiments.loc[df_sentiments['Vader_Error'] == 1]
vader_error_rate = len(vader_errors) / len(df_sentiments)
vader_accuracy_score = (len(df_sentiments) - len(vader_errors)) / len(df_sentiments)
print(f"VADER achieved an accuracy score of {vader_accuracy_score:.2%} with an error rate of: {vader_error_rate:.2%}")

VADER achieved an accuracy score of 69.40% with an error rate of: 30.60%

## Vader Accuracy Analysis
VADER performed marginally better than TextBlob, with a accuracy score of 69.40% vs 68.52%. I would still prefer to see scores over 75%, but I don't have a great understanding of what would constitute a great score and my desired threshold of 75% is an arbitrary number that I set.

## Part 2: Prepping Text for a Custom Model
If you want to run your own model to classify text, it needs to be in proper form to do so. The following steps will outline a procedure to do this on the movie reviews text.

In [38]:
# Import libraries for PorterStemmer and Bag of Words
import nltk
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /Users/x/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [39]:
nltk_df = df.copy()
nltk_df

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [40]:
nltk_reviews = nltk_df['review'].values
len(nltk_reviews)

25000

## Cleaning Function Goals:
<ul>
    <li>Convert all words to lowercase</li>
    <li>Remove punctuation and special characters</li>
    <li>Remove stop words</li>
</ul>

In [41]:
# Let's make a function to clean up the text
def clean_text(text):
    stop_words = stopwords.words('english')
    # Remove punctuation and special characters
    pattern = r'([A-Za-z]*)'
    pattern = re.compile(pattern)
    cleaned = pattern.findall(text)
    # Convert to lower case
    words = [word.lower() for word in cleaned if word]     
    words = [word.lower() for word in words if word not in stop_words]
    return words

In [42]:
# Test clean_text function
x = nltk_df.loc[0,'review']
test_clean = clean_text(nltk_reviews[0])
test_clean

['stuff',
 'going',
 'moment',
 'mj',
 'started',
 'listening',
 'music',
 'watching',
 'odd',
 'documentary',
 'watched',
 'wiz',
 'watched',
 'moonwalker',
 'maybe',
 'want',
 'get',
 'certain',
 'insight',
 'guy',
 'thought',
 'really',
 'cool',
 'eighties',
 'maybe',
 'make',
 'mind',
 'whether',
 'guilty',
 'innocent',
 'moonwalker',
 'part',
 'biography',
 'part',
 'feature',
 'film',
 'remember',
 'going',
 'see',
 'cinema',
 'originally',
 'released',
 'subtle',
 'messages',
 'mj',
 'feeling',
 'towards',
 'press',
 'also',
 'obvious',
 'message',
 'drugs',
 'bad',
 'kay',
 'br',
 'br',
 'visually',
 'impressive',
 'course',
 'michael',
 'jackson',
 'unless',
 'remotely',
 'like',
 'mj',
 'anyway',
 'going',
 'hate',
 'find',
 'boring',
 'may',
 'call',
 'mj',
 'egotist',
 'consenting',
 'making',
 'movie',
 'mj',
 'fans',
 'would',
 'say',
 'made',
 'fans',
 'true',
 'really',
 'nice',
 'br',
 'br',
 'actual',
 'feature',
 'film',
 'bit',
 'finally',
 'starts',
 'minutes',
 'excluding',
 'smooth',
 'criminal',
 'sequence',
 'joe',
 'pesci',
 'convincing',
 'psychopathic',
 'powerful',
 'drug',
 'lord',
 'wants',
 'mj',
 'dead',
 'bad',
 'beyond',
 'mj',
 'overheard',
 'plans',
 'nah',
 'joe',
 'pesci',
 'character',
 'ranted',
 'wanted',
 'people',
 'know',
 'supplying',
 'drugs',
 'etc',
 'dunno',
 'maybe',
 'hates',
 'mj',
 'music',
 'br',
 'br',
 'lots',
 'cool',
 'things',
 'like',
 'mj',
 'turning',
 'car',
 'robot',
 'whole',
 'speed',
 'demon',
 'sequence',
 'also',
 'director',
 'must',
 'patience',
 'saint',
 'came',
 'filming',
 'kiddy',
 'bad',
 'sequence',
 'usually',
 'directors',
 'hate',
 'working',
 'one',
 'kid',
 'let',
 'alone',
 'whole',
 'bunch',
 'performing',
 'complex',
 'dance',
 'scene',
 'br',
 'br',
 'bottom',
 'line',
 'movie',
 'people',
 'like',
 'mj',
 'one',
 'level',
 'another',
 'think',
 'people',
 'stay',
 'away',
 'try',
 'give',
 'wholesome',
 'message',
 'ironically',
 'mj',
 'bestest',
 'buddy',
 'movie',
 'girl',
 'michael',
 'jackson',
 'truly',
 'one',
 'talented',
 'people',
 'ever',
 'grace',
 'planet',
 'guilty',
 'well',
 'attention',
 'gave',
 'subject',
 'hmmm',
 'well',
 'know',
 'people',
 'different',
 'behind',
 'closed',
 'doors',
 'know',
 'fact',
 'either',
 'extremely',
 'nice',
 'stupid',
 'guy',
 'one',
 'sickest',
 'liars',
 'hope',
 'latter']

In [43]:
nltk_df['clean_review'] = nltk_df['review'].apply(clean_text)
nltk_df

,id,sentiment,review,clean_review
0,5814_8,1,With all this stuff going down at the moment w...,"[stuff, going, moment, mj, started, listening,..."
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","[classic, war, worlds, timothy, hines, enterta..."
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"[film, starts, manager, nicholas, bell, giving..."
3,3630_4,0,It must be assumed that those who praised this...,"[must, assumed, praised, film, greatest, filme..."
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"[superbly, trashy, wondrously, unpretentious, ..."
...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"[seems, like, consideration, gone, imdb, revie..."
24996,5064_1,0,I don't believe they made this film. Completel...,"[believe, made, film, completely, unnecessary,..."
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","[guy, loser, get, girls, needs, build, picked,..."
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"[minute, documentary, bu, uel, made, early, on..."
24999,8478_8,1,I saw this movie as a child and it broke my he...,"[saw, movie, child, broke, heart, story, unfin..."

## Step 4: Apply NLTK's PorterStemmer

In [44]:
# Create a stemmer
porter = PorterStemmer()

nltk_df['stemmed_review'] = nltk_df['clean_review'].apply(lambda word_list: [porter.stem(word) for word in word_list])
nltk_df['stemmed_review'] = nltk_df['stemmed_review'].apply(lambda word: ' '.join(word))

In [45]:
nltk_df

,id,sentiment,review,clean_review,stemmed_review
0,5814_8,1,With all this stuff going down at the moment w...,"[stuff, going, moment, mj, started, listening,...",stuff go moment mj start listen music watch od...
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","[classic, war, worlds, timothy, hines, enterta...",classic war world timothi hine entertain film ...
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"[film, starts, manager, nicholas, bell, giving...",film start manag nichola bell give welcom inve...
3,3630_4,0,It must be assumed that those who praised this...,"[must, assumed, praised, film, greatest, filme...",must assum prais film greatest film opera ever...
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"[superbly, trashy, wondrously, unpretentious, ...",superbl trashi wondrous unpretenti exploit hoo...
...,...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"[seems, like, consideration, gone, imdb, revie...",seem like consider gone imdb review film went ...
24996,5064_1,0,I don't believe they made this film. Completel...,"[believe, made, film, completely, unnecessary,...",believ made film complet unnecessari first fil...
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","[guy, loser, get, girls, needs, build, picked,...",guy loser get girl need build pick stronger su...
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"[minute, documentary, bu, uel, made, early, on...",minut documentari bu uel made earli one spain ...
24999,8478_8,1,I saw this movie as a child and it broke my he...,"[saw, movie, child, broke, heart, story, unfin...",saw movi child broke heart stori unfinish end ...

## Create a Bag of Words Matrix
Create a bag-of-words matrix from your stemmed text (output from (4)) where each row is a word-count vector for a single movie review (see sections 5.3 & 6.8 in the Machine Learning with Python Cookbook). Display the dimensions of your bag-of-words matrix. The number of rows in this matrix should be the same as the number of rows in your original data frame.

In [46]:
# Create a bag of words
count = CountVectorizer()
bag_of_words = count.fit_transform(nltk_df['stemmed_review'])

In [47]:
# Check bag of words output
bag_of_words

<25000x49642 sparse matrix of type '<class 'numpy.int64'>'
	with 2361996 stored elements in Compressed Sparse Row format>

## Display the dimensions of the bag of words matrix

In [48]:
# Display the dimensions of the bag of words matrix
print(f"There are {bag_of_words.shape[0]} rows and {bag_of_words.shape[1]} columns in the bag of words.")

There are 25000 rows and 49642 columns in the bag of words.

In [49]:
# The number of rows in this matrix should be the same number of rows in your original dataframe. 
assert(nltk_df.shape[0] == bag_of_words.shape[0])

In [3]:
# View the vocabulary of the bag of words matrix
# This provides a list of feature names and their indices. 
#count.vocabulary_

In [38]:
%%time
dense_dict = [dict(zip(count.get_feature_names_out(), row)) for row in bag_of_words.toarray()]

CPU times: user 5min 42s, sys: 10.7 s, total: 5min 53s
Wall time: 5min 57s

In [39]:
%%time
# Create a sparse dict_vectorizer to create a feature matrix from our bag of words
dict_vectorizer = DictVectorizer(sparse=True)
cv_feature_matrix = dict_vectorizer.fit_transform(dense_dict)

CPU times: user 8min 24s, sys: 47.7 s, total: 9min 12s
Wall time: 9min 41s

## Chunking
That was a taxing operation, let's see how it goes with chunking.

In [52]:
nltk_df.to_csv("nltk_df.csv")

In [59]:
%%time
corpus = nltk_df['stemmed_review']
chunk_size = 1000
count_vec = CountVectorizer()
dense_dict_list = []

for chunk in pd.read_csv('nltk_df.csv', chunksize=chunk_size, usecols=['stemmed_review']):
    # Transform the chunk into a sparse matrix
    X_chunk = count_vec.fit_transform(chunk['stemmed_review'])

    # Convert the matrix into a dense_dict
    dense_dict_chunk = [dict(zip(count_vec.get_feature_names_out(), row)) for row in X_chunk.toarray()]

    # Append the dense_dict to the dense_dict_list
    dense_dict_list.extend(dense_dict_chunk)

CPU times: user 1min 14s, sys: 2.74 s, total: 1min 17s
Wall time: 1min 17s

## Step 6: Create a Term Frequency Inverse Document Frequency Matrix

Create a term frequency-inverse document frequency (tf-idf) matrix from your stemmed text, for your movie reviews (see section 6.9 in the Machine Learning with Python Cookbook). Display the dimensions of your tf-idf matrix. These dimensions should be the same as your bag-of-words matrix.

In [61]:
tfidf = TfidfVectorizer()
feature_matrix = tfidf.fit_transform(nltk_df['stemmed_review'])

In [62]:
feature_matrix

<25000x49642 sparse matrix of type '<class 'numpy.float64'>'
	with 2361996 stored elements in Compressed Sparse Row format>

In [63]:
## Display the dimensions of the feature matrix, these should be the same as your bag of words matrix
print(f"There are {feature_matrix.shape[0]} rows and {feature_matrix.shape[1]} columns in the feature matrix.")
assert(feature_matrix.shape == bag_of_words.shape)

There are 25000 rows and 49642 columns in the feature matrix.

In [4]:
# View the vocabulary of the tfidf matrix
#tfidf.vocabulary_

## Conclusion

This was a good lesson for learning more about preprocessing text data, classifying text data with different models, and working with Bag of Words and Term Frequency Inverse Document Frequency matrices. 

I took the opportunity to learn more about working with large datasets using chunking and created a feature matrix using a DictVectorizer on the Bag of Words matrix.