## DSC550-T302

## Lincoln Brown

## Wk3 Assignment

## Professor Werner

In [3]:
# Import libraries
import pandas as pd
import numpy as np
from textblob import TextBlob

## Step 1: Import the Data

In [4]:
# Import the data
f_name = "labeledTrainData.tsv"

df = pd.read_csv(f_name, delimiter='\t')

print(f"There are {df.shape[0]} rows and {df.shape[1]} columns")

There are 25000 rows and 3 columns

## Step 1 (Cont): Make sure it is loaded properly

In [5]:
df.head()

       id  sentiment                                             review
0  5814_8          1  With all this stuff going down at the moment w...
1  2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2  7759_3          0  The film starts with a manager (Nicholas Bell)...
3  3630_4          0  It must be assumed that those who praised this...
4  9495_8          1  Superbly trashy and wondrously unpretentious 8...

## Step 2: How many of each positive and negative reviews are there?

In [6]:
sentiments = df.groupby('sentiment').count()
sentiments

              id  review
sentiment
0          12500   12500
1          12500   12500

There are 12,500 negative and 12,500 positive reviews

## Step 3: Use TextBlob to Classify
Use TextBlob to classify each movie review as positive or negative. Assume that a polarity score greater than or equal to zero is a positive sentiment and less than 0 is a negative sentiment

In [7]:
df_sentiments = df.copy()
df_sentiments['textblob'] = df_sentiments['review'].apply(lambda x: TextBlob(x).sentiment)

In [8]:
df_sentiments

,id,sentiment,review,textblob
0,5814_8,1,With all this stuff going down at the moment w...,"(0.001276742581090417, 0.6067460317460317)"
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","(0.2563492063492064, 0.5311111111111111)"
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"(-0.05394123606889564, 0.5629331306990881)"
3,3630_4,0,It must be assumed that those who praised this...,"(0.1347530864197531, 0.4929012345679012)"
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"(-0.024841720779220786, 0.45981782106782115)"
...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"(0.10208333333333333, 0.5428571428571428)"
24996,5064_1,0,I don't believe they made this film. Completel...,"(0.09081262939958591, 0.4623706004140787)"
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","(0.14525641025641026, 0.48410256410256414)"
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"(0.065625, 0.5045138888888889)"
24999,8478_8,1,I saw this movie as a child and it broke my he...,"(0.2392948717948718, 0.7358974358974358)"

## Create a test score to check function

In [10]:
test = df_sentiments.loc[0,'textblob']
test.polarity

0.001276742581090417

## Create a function to assign a polarity score from TextBlob polarity

In [11]:
def assign_score(sentiment):
    if sentiment.polarity < 0:
        return 0
    else:
        return 1

In [12]:
# Verify function works
test_score = assign_score(test)
test_score

1

## Assign a TextBlob Score based on polarity

In [13]:
df_sentiments['textblob_score'] = df_sentiments['textblob'].apply(lambda x: assign_score(x))
df_sentiments

,id,sentiment,review,textblob,textblob_score
0,5814_8,1,With all this stuff going down at the moment w...,"(0.001276742581090417, 0.6067460317460317)",1
1,2381_9,1,"\The Classic War of the Worlds\"" by Timothy Hi...","(0.2563492063492064, 0.5311111111111111)",1
2,7759_3,0,The film starts with a manager (Nicholas Bell)...,"(-0.05394123606889564, 0.5629331306990881)",0
3,3630_4,0,It must be assumed that those who praised this...,"(0.1347530864197531, 0.4929012345679012)",1
4,9495_8,1,Superbly trashy and wondrously unpretentious 8...,"(-0.024841720779220786, 0.45981782106782115)",0
...,...,...,...,...,...
24995,3453_3,0,It seems like more consideration has gone into...,"(0.10208333333333333, 0.5428571428571428)",1
24996,5064_1,0,I don't believe they made this film. Completel...,"(0.09081262939958591, 0.4623706004140787)",1
24997,10905_3,0,"Guy is a loser. Can't get girls, needs to buil...","(0.14525641025641026, 0.48410256410256414)",1
24998,10194_3,0,This 30 minute documentary Buñuel made in the ...,"(0.065625, 0.5045138888888889)",1
24999,8478_8,1,I saw this movie as a child and it broke my he...,"(0.2392948717948718, 0.7358974358974358)",1

In [28]:
df_sentiments['Error'] = df_sentiments['textblob_score'] != df_sentiments['sentiment']
df_sentiments['Error'] = df_sentiments['Error'].astype(int)

In [50]:
errors = df_sentiments.loc[df_sentiments['Error'] == 1]
error_rate = len(errors) / len(df_sentiments)
accuracy_score = (len(df_sentiments) - len(errors)) / len(df_sentiments)
print(f"The TextBlog achieved an accuracy score of {accuracy_score:.2%} with an error rate of: {error_rate:.2%}")

The TextBlog achieved an accuracy score of 68.52% with an error rate of: 31.48%